
.bg {
 background-image: url("bg_hd.jpg");
 background-position: center;
 background-size: cover;     //  ("contain" works better than "cover" in certain cases)
}

#game {
 min-height: 100vh;
 min-width: 33.5vw;
 max-width: 33.5vw;
 display: block;
 margin: 0 auto;
 overflow: hidden;
 border: 0px;
}